* {  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body, html{
	background:#202020;
	color:#fff;
	height: 100%;
	font:18px/24px 'Raleway', sans-serif;
	margin: 0px;
	padding: 0px;
}

.loader {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:999;
	background:#000 url(../images/loader.gif) 50% 50% no-repeat;
}

#header {
	height:100%;
	min-height: 100%;
	width: 100%;
	padding:0px;
}

.header-overlay{
	background:rgba(0, 0, 0, 0.6);
	height: 100%;		
}
	
.main-head{
	text-align:center;
	padding:100px 0 155px;
	position: relative;
	height: 100%;
	bottom: 0;
}

a#more {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -230px;
	margin-top: -105px;
	width: 460px;
	overflow: hidden;
	font-weight: normal;
	font-size:35px;
	font-weight: 300;
	text-align: center;

	color:#fff;
	background: #f7505a; 
 
	line-height:40px;
	padding:30px;
	-webkit-font-smoothing: antialiased;
}

a#more:hover {
	background: rgb(220,55,65);
	text-decoration: none;
}

a#more span.headerText{
	font-size:15px;
	border:solid 1px #fc7980;
	display:block;
	margin-top:30px;
	overflow: hidden;
	text-transform: uppercase;
}

a#more span.headerText p{
	line-height:80px;
	text-align: center;
	float: left;
	width:298px;
	margin:0px;
}
		
a:focus{
	outline:none;
}

#nav{
	margin-bottom:0px;
	}

.affix {
      top: 0;
      width: 100%;
}

#about{
	
	height:100vh;
}

#resume{
	height:100vh;
	background: #999999;
	
}

#portfolio{
	height:100vh;
	width: 100%;
	min-width:100%;
	padding: 140 40 140 40;
	background-color: #000044;
	margin:0;
}

#contact{
	
	padding-bottom: 50px;
}

#footer{
	padding: 30px 0 15px 0;
	background-color: #797979;
}





